body {
    background-color: black;
}

h1 {
    background-color: white;
}

.ball {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
    width: 100px;
    height: 100px;
    font-size: 22px;
    font-weight: bold;

    border-radius: 50%;
    background-color: lightcyan;
}